<div x-data="setup()" x-init="$refs.loading.classList.add('hidden');" @resize.window="watchScreen()">
  <div class="flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light"
    data-controller="sidebar"
    data-sidebar-is-open-value="false">
    <%= render LoadingScreenComponent.new %>
    <%= render SidebarComponent.new %>
    <%= render SubHeaderComponent.new %>
    <%= render ContentComponent.new %>
  </div>
  <%= render BackdropComponent.new  %>  <!-- used to set background as dark when left panel is opened -->
  <%= render PanelComponent.new %> <!-- left panel -->
  <%= render BottomRightComponent.new %> <!-- element at bottom right of the screen -->
</div>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
<script>
  const setup = () => {
      return {
      isSidebarOpen: false,
      currentSidebarTab: null,
      isSettingsPanelOpen: false,
      isSubHeaderOpen: false,
      watchScreen() {
          if (window.innerWidth <= 1024) {
          this.isSidebarOpen = false
          }
      },
  }
    }
</script>
